body {
    color: white;
    margin: 0;
    background-color: #2a2a33;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #292e32;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.article-list {
    list-style-type: none;
}

.error-message {
    margin-top: 5px;
    font-size: 20px;
    padding: 20px;
    color: var(--danger);
}

textarea#article {
    height: 90vh;
}
